body {
    background: rgb(26, 26, 39);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

h1, h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3.5rem;
}

.Group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2rem
}

.Group h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Leaderboard {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.playerList {
    display: grid;
    grid-template-columns: 4fr;
    justify-items: center;
    align-items: center;
    list-style: none;
    grid-template-columns: 0rem 10rem 10rem 10rem;
}

.playerTable img {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
}

.smallImage {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    margin-top: 1rem;
}

.playerTable li {
    font-size: 1.6rem;
    font-family: "Cal Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.playerTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.square2 {
    width: 100px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.square3 {
    width: 90px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.Podium {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

    .Podium p {
        text-align: center;
        font-size: 1.2rem;
        font-family: "Cal Sans", sans-serif;
        font-weight: 150;
        font-style: normal;
        margin: 0;
        padding: 0;
    }